{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "badge": {
            "branch": "master"
        }
    },
    "minMsi": 69.63,
    "minCoveredMsi": 80.34
}
